{% extends "web_shop/base.html" %}
{% block title %}Home - Football Equipment Web Shop{% endblock %}

{% block content %}
    <!-- Your content for the home page goes here -->
   

    <div class="container mt-5">
        <div id="items-container">
            <div class="container my-5">
                <div class="row">
                    <!-- Sidebar -->
                   
                    <!-- Main Content -->
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                                        </div>
                                        <small class="text-muted">${{ product.price }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
        </div>
    </div>
<footer class="container-fluid"></footer>
    <script>
        // JavaScript for showing items and handling nested dropdowns
    </script>
{% endblock %}
