<!-- templates/web_shop/success.html -->
{% extends "web_shop/base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="message-box _success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                <h2>Your payment was successful</h2>
                <p>Thank you for your payment. We will be in contact with more details shortly.</p>
                <a href="{% url 'home' %}" class="btn custom-btn mt-3">Go to Home</a>
            </div>
        </div>
    </div>
</div>


<style>
    ._success {
        box-shadow: 0 15px 25px #00000019;
        padding: 45px;
        width: 100%;
        text-align: center;
        margin: 40px auto;
        border-bottom: solid 4px #28a745;
    }

    ._success svg {
        font-size: 55px;
        color: #28a745;
    }

    ._success h2 {
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 10px;
    }

    ._success p {
        margin-bottom: 0px;
        font-size: 18px;
        color: #495057;
        font-weight: 500;
    }

    .custom-btn {
        background-color: black;
        color: white;
        border: none;
    }

    .custom-btn:hover {
        background-color: #333;
        color: white;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      fetch("{% url 'clear_cart_items' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === "success") {
          console.log("Cart items cleared successfully.");
        } else {
          console.error("Failed to clear cart items:", data.message);
        }
      })
      .catch(error => console.error("Error:", error));
    });
  </script>
{% endblock %}